# config vars for the root file system
HYPRIOT_OS_VERSION="v1.2.3"
ROOTFS_TAR_CHECKSUM="d06f099de9f8f0b72b32cbeb3b946ca60665b6f216acf5a4d81d033c5c699772"

# name of the ready made raw image for RPi
RAW_IMAGE="rpi-raw.img"
RAW_IMAGE_VERSION="v0.2.2"
RAW_IMAGE_CHECKSUM="2fbeb13b7b0f2308dbd0d82780b54c33003ad43d145ff08498b25fb8bbe1c2c6"

# specific versions of kernel/firmware and docker tools
export KERNEL_BUILD="20170319-133405"
export KERNEL_VERSION="4.4.50"
export DOCKER_CE_VERSION="17.09.0~ce-0~raspbian"
export DOCKER_MACHINE_VERSION="0.12.2"
export DOCKER_COMPOSE_VERSION="1.16.1"
