# config vars for the root file system
HYPRIOT_OS_VERSION="v1.0.0-rc1"
ROOTFS_TAR_CHECKSUM="7996b17616fa418388fa111e4b89c9a1641930d065269f0b63b5cb4be5797ea4"

# name of the ready made raw image for RPi
RAW_IMAGE="rpi-raw.img"
RAW_IMAGE_VERSION="v0.2.2"
RAW_IMAGE_CHECKSUM="2fbeb13b7b0f2308dbd0d82780b54c33003ad43d145ff08498b25fb8bbe1c2c6"

# specific versions of kernel/firmware and docker tools
export KERNEL_BUILD="20160725-081443"
export KERNEL_VERSION="4.4.15"
export DOCKER_ENGINE_VERSION="1.12.1~rc1-0~jessie"
export DOCKER_COMPOSE_VERSION="1.8.0-61"
export DOCKER_MACHINE_VERSION="0.8.0-30"
export DEVICE_INIT_VERSION="0.1.8"
