version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout

      - run:
          name: Run Shellcheck
          command: |
            make shellcheck

      - run:
          name: Create SD image
          command: |
            VERSION=${CIRCLE_TAG} make sd-image

      - run:
          name: Prepare artifacts
          command: |
            mkdir -p output
            cp hypriotos* output/

      - store_artifacts:
          path: /home/circleci/project/output
